@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Helvetica");
@import url("https://fonts.googleapis.com/css?family=Lato");
/*Здесь подключены два основных шрифта. Open Sans + Helvetica*/

header{
  background-color: #111111;

}

.header__text{
  display: inline-block;
  vertical-align: middle;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 20px;
  padding-top: 51px;
}
.header__table{
  display: inline-block;
  vertical-align: middle;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 14px;
  padding-top: 55px;
  font-weight: bold;
  padding-left: 470px;
}
.header__table ul li{
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 8px;
  margin-left: 15px;
  position: relative;
}
.header__table ul li.active::before{
  content: " ";
  width: 50%;
  height: 3px;
  background-color: #292929;
  position: absolute;
  bottom: 0;
  right: 0;
}
.header__table ul li.active::after{
  content: " ";
  width: 50%;
  height: 3px;
  background-color: #FCAC45;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__table ul li:hover::before{
  content: " ";
  width: 50%;
  height: 3px;
  background-color: #292929;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: right-element 1s 1;
}
.header__table ul li:hover::after{
  content: " ";
  width: 50%;
  height: 3px;
  background-color: #FCAC45;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: left-element 1s 1;
}

@keyframes left-element {
  0%{
      transform: translateX(-30px);
    }
  100%{
    transform: translateX(0);
  }
}
@keyframes right-element {
  0%{
      transform: translateX(30px);
    }
  100%{
    transform: translateX(0);
  }
}
header ul{
  list-style: none;
}
.header__title{
  color: #FFFFFF;
}
.header__title{
  text-align: center;
  padding-top: 195px;
  font-family: "Open Sans";
  padding-bottom: 88px;
}
.header__title h1{
  color: #4E4E4E;
  text-transform: uppercase;
}
.header__title h1 span{
  color: #FCAC45;
  font-weight: bold;
}
.header__title h2{
  padding-top: 22px;
  font-size: 24px;
  padding-bottom: 280px;
}
@media (max-width:1200px) {
  .header__table{
      padding-left: 270px;
  }
}
@media (max-width:1000px) {
  .header__table{
      padding-left: 70px;
  }
}
.team-section__col h4{
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}
.team-section__col p.title{
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding-bottom: 36px;
  padding-top: 5px;

}
.team-section__col p.text{
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
}
.owl-carousel .owl-dots{
  text-align: center;
}
.owl-carousel .owl-dot{
  height: 12px;
  width: 12px;
  background-color: #FFFFFF;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 76px;
  margin-bottom: 90px;
}
.owl-carousel .owl-dot.active{

  background-color: #FCAC45;

}

.team-section{
  background-color: #070707;
}
.team-section__person .team-section__col .circle{
  width: 120px;
  height: 120px;
  background-color: #D7D7D7;
  border-radius: 50%;
  margin: 0 auto;
}
.team-section .team-section__header h2{
  color: #FFFFFF;
  font-size: 42px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
.team-section .team-section__header .hr1{
  background-color: #FCAC45;
  height: 3px;
  width: 95px;
  margin: auto;
}
.team-section .team-section__header .hr2{
  background-color: #B37B33;
  height: 3px;
  width: 65px;
  margin-top: 12px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}
.clients-section{
  background-color: #0B0B0B;
}
.clients-section .clients-section__header p{
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
.clients-section .clients-section__header .hr1{
  background-color: #FCAC45;
  height: 3px;
  width: 95px;
  margin: auto;
}
.clients-section .clients-section__header .hr2{
  background-color: #B37B33;
  height: 3px;
  width: 65px;
  margin-top: 12px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}
.clients-section__person .clients-section__col .text{
  text-transform: uppercase;
  color: #B2B2B2;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
.quotes-section{
  background-color: #0B0B0B;
  margin-top: 80px;
}

.quotes-section .quotes-section__header p{
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
.quotes-section .quotes-section__header p span{
  font-weight: bold;
}
.quotes-section .quotes-section__header .hr1{
  background-color: #FCAC45;
  height: 3px;
  width: 95px;
  margin: auto;
}
.quotes-section .quotes-section__header .hr2{
  background-color: #B37B33;
  height: 3px;
  width: 65px;
  margin-top: 12px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}
.quotes-section__person .quotes-section__col .text{
  text-transform: uppercase;
  color: #E8E8E8;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  line-height: 24px;
  padding-left: 10%;
  padding-right: 10%;
}

.quotes-section__person .quotes-section__col .person{
  text-transform: uppercase;
  color: #595959;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding-top: 50px;

}

@media (max-width:400px) {
  .quotes-section__person .quotes-section__col .text{
    font-size: 16px;
    font-weight: none;
  }

}

.services-section{
  background-color: #FFFFFF;
}

.services-section .services-section__header h2{
  color: #222222;
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
.services-section .services-section__header span{
  font-weight: lighter;
}
.services-section .services-section__header .hr1{
  background-color: #FCAC45;
  height: 3px;
  width: 95px;
  margin: auto;
}
.services-section .services-section__header .hr2{
  background-color: #B37B33;
  height: 3px;
  width: 65px;
  margin-top: 12px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.services-section__person .services-section__col .circle{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #FCAC45;
  margin: 0 auto;
}
.services-section__person .services-section__col .circle .img{
  width: 50%;
  margin-left: 25%;
  margin-top: 25%;
}
.services-section__person .services-section__col{
  width: 23%;
  margin-left: 1%;
  display: inline-block;
}

.services-section__person .services-section__col h4{
  font-size: 24px;
  text-align: center;
  padding: 20px 0px;
}
.services-section__person .services-section__col p{
  font-size: 16px;
  text-align: center;
  padding-bottom: 100px;
}
.services-section .services-section__header p{
  font-style: italic;
  font-size: 16px;
  padding-bottom: 96px;
  text-align: center;
}
@media (max-width:1000px) {
  .services-section__person .services-section__col{
    width: 46%;
    margin-left: 2%;

  }
}
@media (max-width:700px) {
  .services-section__person .services-section__col{
    width: 100%;
    margin-left: 0;
  }
  .team-section__col p.text{
    margin-bottom: 200px;
  }
}



.contacts-section .contacts-section__header h2{
  color: #222222;
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
.contacts-section .contacts-section__header span{
  font-weight: lighter;
}
.contacts-section .contacts-section__header .hr1{
  background-color: #FCAC45;
  height: 3px;
  width: 95px;
  margin: auto;
}
.contacts-section .contacts-section__header .hr2{
  background-color: #B37B33;
  height: 3px;
  width: 65px;
  margin-top: 12px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.contacts-section .contacts-section__header p{
  font-style: italic;
  font-size: 16px;
  padding-bottom: 96px;
  text-align: center;
  margin-left: 13%;
  margin-right: 13%;
}
.contacts-section_head{
  display: inline-block;

}
.right{
  float: right;
}
.contacts-section_head p span{
  color: red;
}
.contacts-section_head2 p span{
  color: red;
}
input.input{
   width:360px;
   height: 40px;
}
.contacts-section_head2{
  padding-top: 30px;
  margin: 0 13%;
}

input.input1{
   width:100%;
   height: 160px;

}
button.button{
  background-color: #FCAC45;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 60px;
  float: right;
  margin-top: 30px;
  margin-right: 13%;
  margin-bottom: 100px;
}
.contacts-section_header{
  margin: 0 13%;
}
.contacts-section_head {
    display: inline-block;
 }
}
input.button1{
  border: 1px solid #7F7F7F;
  background-color: red;
  margin-top: 30px;
  margin-right: 13%;
  margin-bottom: 100px;
  padding: 10px 60px;
}

@media (max-width:1210px) {
  .right{
    float: none;
    }
}

.work-section{
  background-color: #FFFFFF;
}

.work-section .work-section__header h2{
  color: #222222;
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
.work-section .work-section__header span{
  font-weight: lighter;
}
.work-section .work-section__header .hr1{
  background-color: #FCAC45;
  height: 3px;
  width: 95px;
  margin: auto;
}
.work-section .work-section__header .hr2{
  background-color: #B37B33;
  height: 3px;
  width: 65px;
  margin-top: 12px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.work-section .work-section__header p{
  font-style: italic;
  font-size: 16px;
  padding-bottom: 96px;
  text-align: center;
}
.work-section .work-section_left{
float: left;
font-weight: bold;
text-transform: uppercase;
vertical-align: middle;
}
.work-section .work-section_right{
float: right;
font-size: 18px;
vertical-align: middle;
}
.work-section .work-section_right p{
  display: inline-block;
}


.work-section__person .work-section__col .circle .img{
  width: 100%;
}
.work-section__person .work-section__col{
  width: 23%;
  margin-right:  1.69%;
  display: inline-block;
}
@media (max-width:1000px) {
  .work-section__person .work-section__col{
    width: 46%;
    margin-right:  3%;
  }
}

@media (max-width:550px) {
  .work-section__person .work-section__col{
    width: 100%;
    margin-right: 0;
  }
  .work-section .work-section_right {
  float: none;
  text-align: center;
  padding-top: 10px;
  }
 .work-section .work-section_left {
  float: none;
  text-align: center;
  }
}


.clearfix
{
  clear: both;
}
footer{
  background-color: #222222;
}
footer .img{
  width: 100%;
}

footer .company{
  color: #B2B2B2;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 40px 0px;
  margin-left: 13%;
}
footer .company_img{
display: inline-block;
width: 48%;
text-align: right;
}
footer div.footer_img{
  display: inline-block;
  width: 22px;
  vertical-align: middle;
}
footer .footer_img_first{
  margin-left: 60%;
}


.header__title-circle{
  border: 2px solid #C3C3C3;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 auto;
}
.header__title-circle .img{
  width: 50%;
  vertical-align: middle;
  margin-top: 25%;
}
.aboutus-section__left{
  width: 46%;
  float: left;
}
.aboutus-section__right{
  width: 46%;
  float: right;
}
.aboutus-section__left .img{
  width: 85%;
}
.aboutus-section_block{
  padding: 100px 0;
}
.aboutus-section_block .first{
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus-section_block .second{
  font-size: 28px;
  text-transform: uppercase;
  padding: 22px 0;
}
.aboutus-section_block .second span{
  font-weight: bold;
}
.aboutus-section_block .building{
  font-size: 22px;
  padding-bottom: 46px;
}
.aboutus-section_block p .text{
  font-style: italic;
  font-size: 19px;
}
.aboutus-section_block p.text{
  padding-bottom: 18px;
}
.aboutus-section_block p .tag{
  font-weight: bold;
  font-size: 21px;
}
.aboutus-section_block .hr{
  background-color: #FCAC45;
  height: 4px;
  width: 95px;
  margin-bottom: 25px;
}
.aboutus-section_block input{
  border: 1px solid #7F7F7F;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #7F7F7F;
  padding: 11px 5px;
  margin-top: 20px;
  text-transform: uppercase;
}
.header__hamb {
  transform: translateX(110%);
  position: fixed;
  width: 100%;
  background-color: #111319;
  color: #fff;
  height: 100%;
  z-index: 300;
  transition: .6s;
  padding-top: 30%;
}
.header__hamb ul{
  list-style: none;
  text-align: center;
}
.header__hamb ul a{
  font-size: 50px;
  color: #fff;
  transition: .6s;
  text-decoration: none;
}
.header__hamb li a:hover{
  color: #4F566E;
  text-decoration: underline;
}
.header__hamb.active{
  transform: translateX(0);
}
img.header__menu-button{
  display: none;
}
.header__hamb img{
  width: 40px;
  position: absolute;
  right: 20%;
  top: 10%;
}
img.header__menu-button{
  display: none;
}
img.header__menu-button {
    height: 24px;
    vertical-align: middle;
}
.www{
  display: none;
}
@media (max-width: 750px) {
  html body header nav .hidden-mobile{
    display: none;
  }
  img.header__menu-button{
    display: inline-block;
  }
  .header__text {
    padding-top: 0px;
 }
 .header__table {
   padding-left: 70%;
 }
.header__text {
    padding-left: 5%;
 }
}
body.overflow-body{
  overflow: hidden;
}


@media (max-width: 500px) {
  .header__hamb img {
     right: 15%;
     top: 8%;
  }
}
@media (max-width: 430px) {
  .header__hamb img {
     top: 6%;
     width: 33px;
 }
.header__hamb ul a {
    font-size: 40px;
 }
}
@media (max-width: 380px) {
  .header__hamb img {
     top: 4%;
     width: 33px;
 }
}



@media (max-width: 650px) {
 .header__table {
   padding-left: 60%;
 }
}
@media (max-width: 500px) {
 .header__table {
   padding-left: 50%;
 }
}
@media (max-width: 360px) {
 .header__table {
   padding-left: 40%;
 }
}
@media (min-width: 750px)
{
  .header__hamb {
    display: none;
  }

}

@media (max-width:800px) {
  .aboutus-section__left{
      float: none;
      margin: 0 auto;
  }
  .aboutus-section__right{
    float: none;
    margin: 0 auto;
  }
  .aboutus-section_block {
    padding: 30px 0;
 }
 .aboutus-section__left .img{
   width: 100%;
 }
 .aboutus-section__right{
   width: 60%;
   text-align: center;
 }
 .aboutus-section__left{
   width: 60%;
 }
 .aboutus-section_block .hr{
   margin: 0 auto;
 }
}
html body .work-section__person .work-section__col.qweqwe{
  display: none;
}
html body .work-section__person .work-section__col.qweqwe1{
  display: block;
}
@media (max-width:1210px) {
  footer .company_img {
      width: 42%;
   }
}
@media (max-width:1000px) {
  footer .company_img {
      width: 34%;
   }
   footer .footer_img_first {
    margin-left: 0;
 }
}
@media (max-width:770px) {
  footer .company_img {
      width: 30%;
   }
}
@media (max-width:660px) {
  footer .company_img {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    }
   footer .company {
      padding: 20px 0px;
      text-align-last: center;
      margin-left: 25%;
      margin-right: 25%;
  }
}

@media (max-width:465px) {
   footer .company {
      margin-left: 15%;
      margin-right: 15%;
  }
}
@media (max-width:340px) {
   footer .company {
      margin-left: 10%;
      margin-right: 10%;
  }
}
@media (max-width:502px) {
  input.input {
   width: 100%;
  }
  .contacts-section_head {
    width: 100%;
 }
}
@media (max-width:800px) {
  .contacts-section .contacts-section__header h2 {
    font-size: 28px;
 }
}
@media (max-width:500px) {
  .contacts-section .contacts-section__header h2 {
    font-size: 22px;
 }
}

/*Bootstrap GRID*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width:768px) {
    .container {
    width: 750px;
}
}@media (min-width:992px) {
    .container {
    width: 970px;
}
}@media (min-width:1200px) {
    .container {
    width: 1170px;
}
}.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-xs-12 {
    width: 100%}
.col-xs-11 {
    width: 91.66666667%}
.col-xs-10 {
    width: 83.33333333%}
.col-xs-9 {
    width: 75%}
.col-xs-8 {
    width: 66.66666667%}
.col-xs-7 {
    width: 58.33333333%}
.col-xs-6 {
    width: 50%}
.col-xs-5 {
    width: 41.66666667%}
.col-xs-4 {
    width: 33.33333333%}
.col-xs-3 {
    width: 25%}
.col-xs-2 {
    width: 16.66666667%}
.col-xs-1 {
    width: 8.33333333%}
.col-xs-pull-12 {
    right: 100%}
.col-xs-pull-11 {
    right: 91.66666667%}
.col-xs-pull-10 {
    right: 83.33333333%}
.col-xs-pull-9 {
    right: 75%}
.col-xs-pull-8 {
    right: 66.66666667%}
.col-xs-pull-7 {
    right: 58.33333333%}
.col-xs-pull-6 {
    right: 50%}
.col-xs-pull-5 {
    right: 41.66666667%}
.col-xs-pull-4 {
    right: 33.33333333%}
.col-xs-pull-3 {
    right: 25%}
.col-xs-pull-2 {
    right: 16.66666667%}
.col-xs-pull-1 {
    right: 8.33333333%}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-12 {
    left: 100%}
.col-xs-push-11 {
    left: 91.66666667%}
.col-xs-push-10 {
    left: 83.33333333%}
.col-xs-push-9 {
    left: 75%}
.col-xs-push-8 {
    left: 66.66666667%}
.col-xs-push-7 {
    left: 58.33333333%}
.col-xs-push-6 {
    left: 50%}
.col-xs-push-5 {
    left: 41.66666667%}
.col-xs-push-4 {
    left: 33.33333333%}
.col-xs-push-3 {
    left: 25%}
.col-xs-push-2 {
    left: 16.66666667%}
.col-xs-push-1 {
    left: 8.33333333%}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-12 {
    margin-left: 100%}
.col-xs-offset-11 {
    margin-left: 91.66666667%}
.col-xs-offset-10 {
    margin-left: 83.33333333%}
.col-xs-offset-9 {
    margin-left: 75%}
.col-xs-offset-8 {
    margin-left: 66.66666667%}
.col-xs-offset-7 {
    margin-left: 58.33333333%}
.col-xs-offset-6 {
    margin-left: 50%}
.col-xs-offset-5 {
    margin-left: 41.66666667%}
.col-xs-offset-4 {
    margin-left: 33.33333333%}
.col-xs-offset-3 {
    margin-left: 25%}
.col-xs-offset-2 {
    margin-left: 16.66666667%}
.col-xs-offset-1 {
    margin-left: 8.33333333%}
.col-xs-offset-0 {
    margin-left: 0;
}
@media (min-width:768px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-sm-12 {
    width: 100%}
.col-sm-11 {
    width: 91.66666667%}
.col-sm-10 {
    width: 83.33333333%}
.col-sm-9 {
    width: 75%}
.col-sm-8 {
    width: 66.66666667%}
.col-sm-7 {
    width: 58.33333333%}
.col-sm-6 {
    width: 50%}
.col-sm-5 {
    width: 41.66666667%}
.col-sm-4 {
    width: 33.33333333%}
.col-sm-3 {
    width: 25%}
.col-sm-2 {
    width: 16.66666667%}
.col-sm-1 {
    width: 8.33333333%}
.col-sm-pull-12 {
    right: 100%}
.col-sm-pull-11 {
    right: 91.66666667%}
.col-sm-pull-10 {
    right: 83.33333333%}
.col-sm-pull-9 {
    right: 75%}
.col-sm-pull-8 {
    right: 66.66666667%}
.col-sm-pull-7 {
    right: 58.33333333%}
.col-sm-pull-6 {
    right: 50%}
.col-sm-pull-5 {
    right: 41.66666667%}
.col-sm-pull-4 {
    right: 33.33333333%}
.col-sm-pull-3 {
    right: 25%}
.col-sm-pull-2 {
    right: 16.66666667%}
.col-sm-pull-1 {
    right: 8.33333333%}
.col-sm-pull-0 {
    right: auto;
}
.col-sm-push-12 {
    left: 100%}
.col-sm-push-11 {
    left: 91.66666667%}
.col-sm-push-10 {
    left: 83.33333333%}
.col-sm-push-9 {
    left: 75%}
.col-sm-push-8 {
    left: 66.66666667%}
.col-sm-push-7 {
    left: 58.33333333%}
.col-sm-push-6 {
    left: 50%}
.col-sm-push-5 {
    left: 41.66666667%}
.col-sm-push-4 {
    left: 33.33333333%}
.col-sm-push-3 {
    left: 25%}
.col-sm-push-2 {
    left: 16.66666667%}
.col-sm-push-1 {
    left: 8.33333333%}
.col-sm-push-0 {
    left: auto;
}
.col-sm-offset-12 {
    margin-left: 100%}
.col-sm-offset-11 {
    margin-left: 91.66666667%}
.col-sm-offset-10 {
    margin-left: 83.33333333%}
.col-sm-offset-9 {
    margin-left: 75%}
.col-sm-offset-8 {
    margin-left: 66.66666667%}
.col-sm-offset-7 {
    margin-left: 58.33333333%}
.col-sm-offset-6 {
    margin-left: 50%}
.col-sm-offset-5 {
    margin-left: 41.66666667%}
.col-sm-offset-4 {
    margin-left: 33.33333333%}
.col-sm-offset-3 {
    margin-left: 25%}
.col-sm-offset-2 {
    margin-left: 16.66666667%}
.col-sm-offset-1 {
    margin-left: 8.33333333%}
.col-sm-offset-0 {
    margin-left: 0;
}
}@media (min-width:992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-md-12 {
    width: 100%}
.col-md-11 {
    width: 91.66666667%}
.col-md-10 {
    width: 83.33333333%}
.col-md-9 {
    width: 75%}
.col-md-8 {
    width: 66.66666667%}
.col-md-7 {
    width: 58.33333333%}
.col-md-6 {
    width: 50%}
.col-md-5 {
    width: 41.66666667%}
.col-md-4 {
    width: 33.33333333%}
.col-md-3 {
    width: 25%}
.col-md-2 {
    width: 16.66666667%}
.col-md-1 {
    width: 8.33333333%}
.col-md-pull-12 {
    right: 100%}
.col-md-pull-11 {
    right: 91.66666667%}
.col-md-pull-10 {
    right: 83.33333333%}
.col-md-pull-9 {
    right: 75%}
.col-md-pull-8 {
    right: 66.66666667%}
.col-md-pull-7 {
    right: 58.33333333%}
.col-md-pull-6 {
    right: 50%}
.col-md-pull-5 {
    right: 41.66666667%}
.col-md-pull-4 {
    right: 33.33333333%}
.col-md-pull-3 {
    right: 25%}
.col-md-pull-2 {
    right: 16.66666667%}
.col-md-pull-1 {
    right: 8.33333333%}
.col-md-pull-0 {
    right: auto;
}
.col-md-push-12 {
    left: 100%}
.col-md-push-11 {
    left: 91.66666667%}
.col-md-push-10 {
    left: 83.33333333%}
.col-md-push-9 {
    left: 75%}
.col-md-push-8 {
    left: 66.66666667%}
.col-md-push-7 {
    left: 58.33333333%}
.col-md-push-6 {
    left: 50%}
.col-md-push-5 {
    left: 41.66666667%}
.col-md-push-4 {
    left: 33.33333333%}
.col-md-push-3 {
    left: 25%}
.col-md-push-2 {
    left: 16.66666667%}
.col-md-push-1 {
    left: 8.33333333%}
.col-md-push-0 {
    left: auto;
}
.col-md-offset-12 {
    margin-left: 100%}
.col-md-offset-11 {
    margin-left: 91.66666667%}
.col-md-offset-10 {
    margin-left: 83.33333333%}
.col-md-offset-9 {
    margin-left: 75%}
.col-md-offset-8 {
    margin-left: 66.66666667%}
.col-md-offset-7 {
    margin-left: 58.33333333%}
.col-md-offset-6 {
    margin-left: 50%}
.col-md-offset-5 {
    margin-left: 41.66666667%}
.col-md-offset-4 {
    margin-left: 33.33333333%}
.col-md-offset-3 {
    margin-left: 25%}
.col-md-offset-2 {
    margin-left: 16.66666667%}
.col-md-offset-1 {
    margin-left: 8.33333333%}
.col-md-offset-0 {
    margin-left: 0;
}
}@media (min-width:1200px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}
.col-lg-12 {
    width: 100%}
.col-lg-11 {
    width: 91.66666667%}
.col-lg-10 {
    width: 83.33333333%}
.col-lg-9 {
    width: 75%}
.col-lg-8 {
    width: 66.66666667%}
.col-lg-7 {
    width: 58.33333333%}
.col-lg-6 {
    width: 50%}
.col-lg-5 {
    width: 41.66666667%}
.col-lg-4 {
    width: 33.33333333%}
.col-lg-3 {
    width: 25%}
.col-lg-2 {
    width: 16.66666667%}
.col-lg-1 {
    width: 8.33333333%}
.col-lg-pull-12 {
    right: 100%}
.col-lg-pull-11 {
    right: 91.66666667%}
.col-lg-pull-10 {
    right: 83.33333333%}
.col-lg-pull-9 {
    right: 75%}
.col-lg-pull-8 {
    right: 66.66666667%}
.col-lg-pull-7 {
    right: 58.33333333%}
.col-lg-pull-6 {
    right: 50%}
.col-lg-pull-5 {
    right: 41.66666667%}
.col-lg-pull-4 {
    right: 33.33333333%}
.col-lg-pull-3 {
    right: 25%}
.col-lg-pull-2 {
    right: 16.66666667%}
.col-lg-pull-1 {
    right: 8.33333333%}
.col-lg-pull-0 {
    right: auto;
}
.col-lg-push-12 {
    left: 100%}
.col-lg-push-11 {
    left: 91.66666667%}
.col-lg-push-10 {
    left: 83.33333333%}
.col-lg-push-9 {
    left: 75%}
.col-lg-push-8 {
    left: 66.66666667%}
.col-lg-push-7 {
    left: 58.33333333%}
.col-lg-push-6 {
    left: 50%}
.col-lg-push-5 {
    left: 41.66666667%}
.col-lg-push-4 {
    left: 33.33333333%}
.col-lg-push-3 {
    left: 25%}
.col-lg-push-2 {
    left: 16.66666667%}
.col-lg-push-1 {
    left: 8.33333333%}
.col-lg-push-0 {
    left: auto;
}
.col-lg-offset-12 {
    margin-left: 100%}
.col-lg-offset-11 {
    margin-left: 91.66666667%}
.col-lg-offset-10 {
    margin-left: 83.33333333%}
.col-lg-offset-9 {
    margin-left: 75%}
.col-lg-offset-8 {
    margin-left: 66.66666667%}
.col-lg-offset-7 {
    margin-left: 58.33333333%}
.col-lg-offset-6 {
    margin-left: 50%}
.col-lg-offset-5 {
    margin-left: 41.66666667%}
.col-lg-offset-4 {
    margin-left: 33.33333333%}
.col-lg-offset-3 {
    margin-left: 25%}
.col-lg-offset-2 {
    margin-left: 16.66666667%}
.col-lg-offset-1 {
    margin-left: 8.33333333%}
.col-lg-offset-0 {
    margin-left: 0;
}
}
.pull-right {
    float: right!important;
}
.pull-left {
    float: left!important;
}

.hidden {
    display: none!important;
}
@-ms-viewport {
    width: device-width;
}
@media (min-width:1200px) {
    .visible-lg-block {
    display: block!important;
}
}@media (min-width:1200px) {
    .visible-lg-inline {
    display: inline!important;
}
}@media (min-width:1200px) {
    .visible-lg-inline-block {
    display: inline-block!important;
}
}@media (max-width:767px) {
    .hidden-xs {
    display: none!important;
}
}@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
    display: none!important;
}
}@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
    display: none!important;
}
}@media (min-width:1200px) {
    .hidden-lg {
    display: none!important;
}
}
@media (max-width: 1000px){
  .footer-bottom .footer-bottom__left{
    float: none;
    margin: 0 auto;
    text-align: center;
  }
.footer-bottom .footer-bottom__right{
  margin: 0 auto;
  float: none;
  text-align: center;
 }
}
